In [10]:
#Contoh 1
ipk = [3.43, 3.55, 4.00, 3.60, 3.22, 3.00, 2.71]
nama_artis = ["Andika", "Ayu Ginting", "Agus", "Tung-Tung Sahur"]
bentuk_campuran = ["Alpro", 60, 2.71, False]
list_inside_list = [2.72, [3.00, 3.30], 3.5]

print(nama_artis[3])

Tung-Tung Sahur

In [32]:
#Contoh 2
data = [13, 6, 31, 14]
print("Data sebelum diubah:", data)
data[0] = 5.2
print("Data setelah diubah:", data)

Data sebelum diubah: [13, 6, 31, 14]
Data setelah diubah: [5.2, 6, 31, 14]

In [36]:
#Contoh 3
name = "Kamisato Ayaka"
name[0] = "Raiden Ei"
print(name)

TypeError: 'str' object does not support item assignment

In [42]:
#Conoth 4
a = "Bandung"
b = "Bandung"
a is b

True

In [44]:
#Contoh 5
a = [9, 1, 1]
b = [9, 1, 1]
a is b

False

In [2]:
# Coba
a = ["Bandung"]
b = ["Bandung"]
a is b

False

In [50]:
#Contoh 6
Listnya = ["Batako", "Tanah Liat", "Semen Acian"]
print(Listnya[1])
print(Listnya[-1])
print(Listnya[2:5])
print(Listnya[:4])

Listnya[1] = "Bakso"

Listnya2 = ["Batako", "Tanah Liat", "Semen Acian", "Teralis", "Baja Ringan", "Koral"]
Listnya2[1:3] = ["Bakso", "Mie Ayam"]
print(Listnya2)

Tanah Liat
Semen Acian
['Semen Acian']
['Batako', 'Tanah Liat', 'Semen Acian']
['Batako', 'Bakso', 'Mie Ayam', 'Teralis', 'Baja Ringan', 'Koral']

In [4]:
#Contoh 7
list_ini = [5, 10, 15, 20, 25]
list_itu = [60 , 70, 80]

list_lain = list_ini + list_itu
list_baru = list_ini * 2

print(list_ini)
print(list_itu)
print(list_lain)
print(list_baru)

[5, 10, 15, 20, 25]
[60, 70, 80]
[5, 10, 15, 20, 25, 60, 70, 80]
[5, 10, 15, 20, 25, 5, 10, 15, 20, 25]

In [72]:
#Contoh 8 (Append)
nama = ["Semen", "Tanah liat", "Batako"]
print(nama)
nama.append(["Besi", "Galvanized Square Steel"])
print(nama)

['Semen', 'Tanah liat', 'Batako']
['Semen', 'Tanah liat', 'Batako', ['Besi', 'Galvanized Square Steel']]

In [74]:
#Contoh 9 (Extend)
nama = ["Semen", "Tanah liat", "Batako"]
print(nama)
nama.extend(["Besi", "Galvanized Square Steel"])
print(nama)

['Semen', 'Tanah liat', 'Batako']
['Semen', 'Tanah liat', 'Batako', 'Besi', 'Galvanized Square Steel']

In [78]:
#Contoh 10 (Sort)
nama = ["Semen", "Tanah liat", "Batako"]
print(nama)
nama.sort()
print(nama)

['Semen', 'Tanah liat', 'Batako']
['Batako', 'Semen', 'Tanah liat']

In [12]:
#Contoh 11 (Pop)
nama = ["Semen", "Tanah liat" "Besi", "Batako"]
print(nama)
nama.pop(1)

['Semen', 'Tanah liatBesi', 'Batako']

'Tanah liatBesi'

In [14]:
#Contoh 12 (Del)
nama = ["Semen", "Tanah liat", "Batako"]
print(nama)
del nama[1]
print(nama)

['Semen', 'Tanah liat', 'Batako']
['Semen', 'Batako']

In [20]:
#Contoh 13 (Remove)
nama = ["Semen", "Tanah liat", "Batako"]
print(nama)
nama.remove("Tanah liat")
print(nama)

['Semen', 'Tanah liat', 'Batako']
['Semen', 'Batako']

In [22]:
#Contoh 14 (Reverse)
nama = ["Semen", "Tanah liat", "Batako"]
print(nama)
nama.reverse()
print(nama)

['Semen', 'Tanah liat', 'Batako']
['Batako', 'Tanah liat', 'Semen']

In [28]:
#Contoh 15 (min)
jumlah = [5, 10, 15, 20, 1]
min(jumlah)

1

In [30]:
#Contoh 16 (max)
jumlah = [5, 10, 15, 20, 1]
max(jumlah)

20

In [32]:
#Contoh 17 (sum)
jumlah = [5, 10, 15, 20, 1]
sum(jumlah)

51

In [34]:
#Contoh 18 (len)
jumlah = [5, 10, 15, 20, 1]
len(jumlah)

5

In [36]:
#Contoh 19
bahan = ["Batako", "Tanah Liat", "Semen Acian", "Teralis", "Baja Ringan", "Koral"]
bahan_baru = [x for x in bahan if "ra" in x]
print(bahan_baru)

['Teralis', 'Koral']

In [38]:
#Contoh 20
bahan = ["Batako", "Tanah Liat", "Semen Acian", "Teralis", "Baja Ringan", "Koral"]
bahan_ubah = [x.upper() for x in bahan]
print(bahan_ubah)

['BATAKO', 'TANAH LIAT', 'SEMEN ACIAN', 'TERALIS', 'BAJA RINGAN', 'KORAL']

In [40]:
#Contoh 21
bahan = ["Batako", "Tanah Liat", "Semen Acian", "Teralis", "Baja Ringan", "Koral"]
bahan_cek = [x for x in bahan if len(x) > 6]
print(bahan_cek)

['Tanah Liat', 'Semen Acian', 'Teralis', 'Baja Ringan']

In [44]:
#Contoh 22
def ubah(data):
    data[2] = "Boom"

data = ["Satu", "Dua", "Tiga"]
print(data)
ubah(data)
print(data)

['Satu', 'Dua', 'Tiga']
['Satu', 'Dua', 'Boom']

In [46]:
#Contoh 23
def hapus(data):
    return data[1:]

data = ["Boom", "Satu", "Dua"]
hapus(data)
print(data)
data = hapus(data)
print(data)

['Boom', 'Satu', 'Dua']
['Satu', 'Dua']

In [50]:
#Soal 1
def cari_tiga(angka):
    hasil = sorted(angka, reverse=True)
    return hasil[:3]

masuk_angka = input("Masukkan angka-angka (pisahkan dengan spasi atau koma): ")

inputan = masuk_angka.replace(',', ' ')

bilangan = []
for isi in inputan.split():
    bilangan.append(int(isi))

print("3 bilangan terbaik:", cari_tiga(bilangan))

Masukkan angka-angka (pisahkan dengan spasi atau koma):  25 35 56

3 bilangan terbaik: [56, 35, 25]

In [54]:
#Soal 2
angka = []

while True:
    masukkan = input("Masukkan angka (ketik 'done' jika selesai): ")
    
    if masukkan.lower() == 'done':
        break
    
    try:
        angka.append(float(masukkan))
    except ValueError:
        print("Input tidak valid, masukkan angka atau 'done'.")

if len(angka) > 0:
    rata_rata = sum(angka) / len(angka)
    print("Rata-rata dari bilangan yang dimasukkan adalah:", rata_rata)
else:
    print("Tidak ada input")

Masukkan angka (ketik 'done' jika selesai):  88
Masukkan angka (ketik 'done' jika selesai):  24
Masukkan angka (ketik 'done' jika selesai):  40
Masukkan angka (ketik 'done' jika selesai):  58
Masukkan angka (ketik 'done' jika selesai):  done

Rata-rata dari bilangan yang dimasukkan adalah: 52.5

In [56]:
#Soal 3
namafile = input("Masukkan nama file teks (misal: berita_ukdw.txt): ")

try:
    with open(namafile, 'r', encoding='utf-8') as file:
        isi = file.read().lower()
    for tanda in ['.', ',', ';', ':', '!', '?', '"', "'", '(', ')', '-', '_']:
        isi = isi.replace(tanda, ' ')
    kata_kata = isi.split()

    frekuensi = {}
    for kata in kata_kata:
        frekuensi[kata] = frekuensi.get(kata, 0) + 1

    kata_unik = sorted([kata for kata in frekuensi if frekuensi[kata] == 1])
    print("\nKata-kata unik dalam artikel:")
    for kata in kata_unik:
        print(kata)

except FileNotFoundError:
    print("File tidak ditemukan. Pastikan nama dan lokasi file sudah benar.")

Masukkan nama file teks (misal: berita_ukdw.txt):  berita_ukdw.txt

File tidak ditemukan. Pastikan nama dan lokasi file sudah benar.